:root {
  --light: #ffffff;
  --black: #171717;
  --light-grey: #c4c4c41f;
  --main-color: #F2E5BF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0a0a0a;
    --light: #fcfcfc;
    --light-grey: #c4c4c41f;
    --main-color: #F2E5BF;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-monument);
}

p,
a,
span,
li,
ul,
ol,
blockquote,
label,
input,
textarea,
select,
option,
button {
  font-family: var(--font-bricolage);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  isolation: isolate;
}

body {
  color: var(--light);
  background: var(--black);
  font-family: var(--font-monument);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-bricolage);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-family: var(--font-monument);
  font-size: 3rem;
}

#logo {
  mix-blend-mode: difference;
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
